@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: lightgrey;
}

/* Ensure the root container stretches to fill the height of the viewport */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use min-height instead of height */
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');